<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好友</title>
    <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        *{
            padding:0 0;
            margin:0 0;
        }
        li:hover{
            cursor: pointer;
        }
        .header{
            width:100%;
            background-color:#fff;
            position:fixed;
            -webkit-box-shadow: 2px 2px 10px rgb(220,220,220);
        }
        .el-a-link{
            font-size:16px;
            color:#666;
            text-decoration:none;
        }
        .main{
            width:100%;
            height: 920px;
            background-color:#F2F4F8;
        }
        .message-container-title>span:hover{
            cursor: pointer;
        }
        .message-container>div>div:hover{
            cursor: pointer;
            background: gainsboro;
        }
    </style>
</head>
<body>
<div id="app">
    <div>
        <el-container>
            <el-header class="header" height="65px">
                <ul style="list-style:none;margin-top:10px;">
                    <li style="float:left;margin-left:280px;">
                        <a href="javascript:void(0);"><img src="/img/logo_maimai.png" alt="" width="42px"></a>
                    </li>
                    <li style="float:left;margin-left:40px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">好友</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">发现</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">头条</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">招聘</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">聊天</a>
                    </li>
                    <li style="float:left;margin-left:20px;margin-top:0px;">
                        <div class="demo-input-suffix">
                            <el-input
                                    placeholder="请输入内容"
                                    prefix-icon="el-icon-search"
                                    v-model="searchinput" @change="searchChange">
                            </el-input>
                        </div>
                    </li>
                    <li style="float:left;margin-left:340px;margin-top:5px;">
                        <a href="javascript:void(0);" class="el-a-link">
                            <img src="/img/edit_person.png" alt="" width="30px">
                        </a>
                    </li>
                    <li style="float:left;margin-left:10px;margin-top:10px;">
                        <el-dropdown>
                          <span class="el-dropdown-link">
                            符官正<i class="el-icon-arrow-down el-icon--right"></i>
                          </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>编辑资料</el-dropdown-item>
                                <el-dropdown-item>退出</el-dropdown-item>
                                <el-dropdown-item>帮助</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link" v-popover:popover2>通知</a>
                        <el-popover
                                ref="popover2"
                                placement="bottom"
                                title="我的通知"
                                width="200"
                                trigger="click"
                        >
                            <div class="notify">内容</div>
                        </el-popover>
                    </li>
                </ul>
            </el-header>
            <el-main class="main">
                <div class="mian-pagecontent" style="background:white;width: 1000px;height: 600px;margin:auto;margin-top:90px">
                    <div class="message-container" style="float:left;margin-left:15px;display:inline-block;box-sizing: border-box; direction: ltr;height: 600px; position: relative; width: 330px; will-change: transform; overflow: auto;">
                        <div class="message-container-title" style="margin-top:20px;width: 100%;height: 45px">
                            <span id="allmessage" @click="allmessage">全部</span>&nbsp;<span>|</span>&nbsp;
                            <span id="waitread" @click="waitread">未读</span>
                            <span id="friends" style="margin-left:120px;vertical-align: middle"><img src="/img/联系人.png" alt="" width="25px"></span>&nbsp;
                            <span id="searchfriendsorcontent" style="vertical-align: middle"><img src="/img/搜索.png" alt="" width="25px"></span>
                        </div>
                        <hr>
                        <div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                            <div style="width:100%;height: 74px" @mousemove="showmore($event)"  @mouseout="showtime($event)">
                                <div style="float: left;height:70px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="50px" style="margin-top: 10px;border-radius: 50%">
                                </div>
                                <div style="float: left;width: 250px;margin-top: 5px;height:60px;">
                                    <div>
                                        <span>李玉涛</span>
                                        &nbsp;
                                        <span style="margin-left:-10px;vertical-align: bottom;font-size: 12px;width: 100px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">
                                            广州市优普科技有限公司·java工程师
                                        </span>
                                        <span style="float:right;display: none">...</span>
                                        <span style="float:right;margin-top:5px;font-size: 12px">10/09</span>
                                        <span style="margin-top:5px;color: #999eaa;font-size: 14px;width: 230px;white-space:nowrap; word-break:keep-all; display: inline-block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司HR专员</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dialogue-container" style="border: 1px solid #ededeb; float: left;display: inline-block;margin-left: 8px; width: 645px;height: 600px;background: white">

                    </div>
                </div>
            </el-main>
        </el-container>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data:{
            searchinput: '',
        },
        created(){

        },
        methods:{
            searchChange(v){
                alert("发生改变"+v);
            },
            allmessage(){
                document.getElementById("waitread").style.color="gray";
                document.getElementById("allmessage").style.color="black";
            },
            waitread(){
                document.getElementById("waitread").style.color="black";
                document.getElementById("allmessage").style.color="gray";
            },
            showmore(e){
                var parent= e.currentTarget;
                parent.children[1].children[0].children[2].style.display="block";
                parent.children[1].children[0].children[3].style.display="none";
            },
            showtime(e){
                var parent= e.currentTarget;
                parent.children[1].children[0].children[2].style.display="none";
                parent.children[1].children[0].children[3].style.display="block";
            }
        }
    })
</script>
</html>