<!DOCTYPE html>
<html lang="en" xmlns:v-popover="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>好友界面</title>
    <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        *{
            padding:0 0;
            margin:0 0;
        }
        li:hover{
            cursor: pointer;
        }
        .friends-title:hover{
            background: skyblue;
        }
        .header{
            width:100%;
            background-color:#fff;
            position:fixed;
            -webkit-box-shadow: 2px 2px 10px rgb(220,220,220);
        }
        .el-a-link{
            font-size:16px;
            color:#666;
            text-decoration:none;
        }
        .main{
            width:100%;
            height:2000px;
            background-color:#F2F4F8;
        }
    </style>
</head>
<body>
<div id="app">
    <div>
        <el-container>
            <el-header class="header" height="65px">
                <ul style="list-style:none;margin-top:10px;">
                    <li style="float:left;margin-left:280px;">
                        <a href="javascript:void(0);"><img src="/img/logo_maimai.png" alt="" width="42px"></a>
                    </li>
                    <li style="float:left;margin-left:40px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">好友</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">发现</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">头条</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">招聘</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">聊天</a>
                    </li>
                    <li style="float:left;margin-left:20px;margin-top:0px;">
                        <div class="demo-input-suffix">
                            <el-input
                                    placeholder="请输入内容"
                                    prefix-icon="el-icon-search"
                                    v-model="searchinput" @change="searchChange">
                            </el-input>
                        </div>
                    </li>
                    <li style="float:left;margin-left:340px;margin-top:5px;">
                        <a href="javascript:void(0);" class="el-a-link">
                            <img src="/img/edit_person.png" alt="" width="30px">
                        </a>
                    </li>
                    <li style="float:left;margin-left:10px;margin-top:10px;">
                        <el-dropdown>
                          <span class="el-dropdown-link">
                            符官正<i class="el-icon-arrow-down el-icon--right"></i>
                          </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>编辑资料</el-dropdown-item>
                                <el-dropdown-item>退出</el-dropdown-item>
                                <el-dropdown-item>帮助</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link" v-popover:popover2>通知</a>
                        <el-popover
                                ref="popover2"
                                placement="bottom"
                                title="我的通知"
                                width="200"
                                trigger="click"
                                >
                            <div class="notify">内容</div>
                        </el-popover>
                    </li>
                </ul>
            </el-header>
            <el-main class="main">
                <div class="friends-info" style="margin-top: 80px;margin-left:400px;width: 610px;height:800px;display: inline-block" >
                    <div style="width: 100%;height: 50px">
                        <ul style="list-style:none;margin-top:50px;">
                            <li class="friends-title" style="float:left;margin-left:40px;margin-top: 28px">
                                发动态
                            </li>
                            <li class="friends-title" style="float:left;margin-left:40px;margin-top: 28px">
                                发专栏
                            </li>
                        </ul>
                    </div>
                    <div class="friends-dynamic">
                        <form action="#">
                            <input type="text" placeholder="分享职场动态(好友、同行可见)" style="width: 560px;border-radius:10px;height: 70px;margin-left: 40px">
                            <br>
                            <ul style="list-style:none;margin-top:2px;">
                                <li style="float:left;margin-left:40px;margin-top: 0px">
                                    <img src="/img/biaoqing.png" alt="" width="30px">
                                </li>
                                <li style="float:left;margin-left:10px;margin-top: 0px">
                                   <input id="upfile" @change="showfilename" type="file" name="upfile" style="height: 40px;display: none">
                                    <img src="/img/file.png" alt="" width="30px" @click="clickfile">
                                    <div id="up-file-content"></div>
                                </li>
                                <li style="float: right;margin-right: 8px">
                                    <el-button type="primary" plain @click="addmydynamic">发布</el-button>
                                </li>
                            </ul>
                        </form>
                        <br>
                        <br>
                        <br>
                        <br>
                        <hr>
                        <div style="margin-top: 40px;width: 100%">
                            <ul style="list-style:none;margin-top:2px;">
                                <li style="float:left;margin-left:40px;margin-top: 0px">
                                    <img src="/img/edit_person.png" alt="" width="30px">
                                </li>
                                <li style="float:left;margin-left:10px;margin-top: 0px">
                                    <div>
                                        <span class="personname">球球</span>&nbsp<span class="personname" style="color: mistyrose;font-size: 14px">财务</span>
                                        <div class="content">
                                            <span>this is a good article</span>
                                            <br>
                                            <img src="/img/edit_person.png" alt="" width="30px">
                                        </div>
                                        <ul style="list-style:none;margin-top:2px;">
                                            <li style="width:70px;height:25px;float:left;margin-left:2px;margin-top: 0px">
                                                <img src="/img/dianzan.png" alt="" width="30px">点赞
                                            </li>
                                            <li style="width:70px;height:18px;float:left;margin-left:150px;margin-top: 0px">
                                                <img src="/img/pinglun.png" alt="" width="30px"
                                                     @click="startorclosepinglun($event)">评论
                                            </li>
                                            <li style="width:70px;height:18px;float:left;margin-left:150px;margin-top: 0px">
                                                <img src="/img/fenxiang.png" alt="" width="30px" @click="dialogVisible = true">分享
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <br>
                            <br>
                            <br>
                            <div style="display: none">
                                <textarea placeholder="" style="width: 85%;height: 150px;margin-top: 30px;margin-left: 13%"></textarea>
                                <br>
                                <ul style="list-style:none;margin-top:2px;">
                                    <li style="float:left;margin-left: 13%">
                                        <img src="/img/biaoqing.png" alt="" width="30px">
                                    </li>
                                    <li style="float: right;margin-right: 7px">
                                        <el-button type="primary" plain @click="pinglunbutton">评论</el-button>
                                    </li>
                                </ul>
                            </div>
                            <template>
                                <el-table
                                        :data="pingluntableData"
                                        style="width: 85%;margin-left: 13%;margin-top: 50px">
                                    <el-table-column
                                            prop="content"
                                            label=""
                                            width="420px">
                                    </el-table-column>
                                    <el-table-column label="操作" >
                                        <template scope="scope">
                                            <el-button
                                                    size="small"
                                                    @click="pinglunhandleDelete($event)">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </template>
                            <br>
                            <br>
                            <br>
                            <hr>
                        </div>
                        <div style="margin-top: 40px;width: 100%">
                            <ul style="list-style:none;margin-top:2px;">
                                <li style="float:left;margin-left:40px;margin-top: 0px">
                                    <img src="/img/edit_person.png" alt="" width="30px">
                                </li>
                                <li style="float:left;margin-left:10px;margin-top: 0px">
                                    <div>
                                        <span class="personname">球球</span>&nbsp<span class="personname" style="color: mistyrose;font-size: 14px">财务</span>
                                        <div class="content">
                                            <span>this is a good article</span>
                                            <br>
                                            <img src="/img/edit_person.png" alt="" width="30px">
                                        </div>
                                        <ul style="list-style:none;margin-top:2px;">
                                            <li style="width:70px;height:25px;float:left;margin-left:2px;margin-top: 0px">
                                                <img src="/img/dianzan.png" alt="" width="30px">点赞
                                            </li>
                                            <li style="width:70px;height:18px;float:left;margin-left:150px;margin-top: 0px">
                                                <img src="/img/pinglun.png" alt="" width="30px"
                                                     @click="startorclosepinglun($event)">评论
                                            </li>
                                            <li style="width:70px;height:18px;float:left;margin-left:150px;margin-top: 0px">
                                                <img src="/img/fenxiang.png" alt="" width="30px" @click="dialogVisible = true">分享
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <br>
                            <br>
                            <br>
                            <div style="display: none">
                                <textarea placeholder="" style="width: 85%;height: 150px;margin-top: 30px;margin-left: 13%"></textarea>
                                <br>
                                <ul style="list-style:none;margin-top:2px;">
                                    <li style="float:left;margin-left: 13%">
                                        <img src="/img/biaoqing.png" alt="" width="30px">
                                    </li>
                                    <li style="float: right;margin-right: 7px">
                                        <el-button type="primary" plain @click="pinglunbutton">评论</el-button>
                                    </li>
                                </ul>
                            </div>
                            <template>
                                <el-table
                                        :data="pingluntableData"
                                        style="width: 85%;margin-left: 13%;margin-top: 50px">
                                    <el-table-column
                                            prop="content"
                                            label=""
                                            width="420px">
                                    </el-table-column>
                                    <el-table-column label="操作" >
                                        <template scope="scope">
                                            <el-button
                                                    size="small"
                                                    @click="pinglunhandleDelete($event)">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </template>
                            <br>
                            <br>
                            <br>
                            <hr>
                        </div>
                        <div style="margin-top: 40px;width: 100%">
                            <ul style="list-style:none;margin-top:2px;">
                                <li style="float:left;margin-left:40px;margin-top: 0px">
                                    <img src="/img/edit_person.png" alt="" width="30px">
                                </li>
                                <li style="float:left;margin-left:10px;margin-top: 0px">
                                    <div>
                                        <span class="personname">球球</span>&nbsp<span class="personname" style="color: mistyrose;font-size: 14px">财务</span>
                                        <div class="content">
                                            <span>this is a good article</span>
                                            <br>
                                            <img src="/img/edit_person.png" alt="" width="30px">
                                        </div>
                                        <ul style="list-style:none;margin-top:2px;">
                                            <li style="width:70px;height:25px;float:left;margin-left:2px;margin-top: 0px">
                                                <img src="/img/dianzan.png" alt="" width="30px">点赞
                                            </li>
                                            <li style="width:70px;height:18px;float:left;margin-left:150px;margin-top: 0px">
                                                <img src="/img/pinglun.png" alt="" width="30px"
                                                     @click="startorclosepinglun($event)">评论
                                            </li>
                                            <li style="width:70px;height:18px;float:left;margin-left:150px;margin-top: 0px">
                                                <img src="/img/fenxiang.png" alt="" width="30px" @click="dialogVisible = true">分享
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <br>
                            <br>
                            <br>
                            <div style="display: none">
                                <textarea placeholder="" style="width: 85%;height: 150px;margin-top: 30px;margin-left: 13%"></textarea>
                                <br>
                                <ul style="list-style:none;margin-top:2px;">
                                    <li style="float:left;margin-left: 13%">
                                        <img src="/img/biaoqing.png" alt="" width="30px">
                                    </li>
                                    <li style="float: right;margin-right: 7px">
                                        <el-button type="primary" plain @click="pinglunbutton">评论</el-button>
                                    </li>
                                </ul>
                            </div>
                            <template>
                                <el-table
                                        :data="pingluntableData"
                                        style="width: 85%;margin-left: 13%;margin-top: 50px">
                                    <el-table-column
                                            prop="content"
                                            label=""
                                            width="420px">
                                    </el-table-column>
                                    <el-table-column label="操作" >
                                        <template scope="scope">
                                            <el-button
                                                    size="small"
                                                    @click="pinglunhandleDelete($event)">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </template>
                            <br>
                            <br>
                            <br>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="pc_visit_history" style="width: 300px; height:500px;float: right;margin-right: 500px;margin-top: 180px;background: white">
                    <div class="title" style="margin: auto;text-align: center;"><span style="color: darkseagreen;font-size: 14px">最近访客</span></div>
                    <div>
                        <ul style="list-style:none;margin-top:2px;">
                            <li class="" style="margin-top: 10px">
                                <div style="float: left;width:40px;height:50px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="30px">
                                </div>
                                <div style="float:left;margin-left: 7px;height: 50px;width: 250px">
                                    <div>刘海波</div>
                                    <span style="width: 250px;height:21px;white-space:nowrap; word-break:keep-all; display: block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司国际商业机器（中国）有限公司国际商业机器（中国）有限公司</span>
                                </div>
                            </li>
                            <li class="" style="margin-top: 10px">
                                <div style="float: left;width:40px;height:50px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="30px">
                                </div>
                                <div style="float:left;margin-left: 7px;height: 50px;width: 250px">
                                    <div>刘海波</div>
                                    <span style="width: 250px;height:21px;white-space:nowrap; word-break:keep-all; display: block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司国际商业机器（中国）有限公司国际商业机器（中国）有限公司</span>
                                </div>
                            </li>
                            <li class="" style="margin-top: 10px">
                                <div style="float: left;width:40px;height:50px;display: inline-block">
                                    <img src="/img/edit_person.png" alt="" width="30px">
                                </div>
                                <div style="float:left;margin-left: 7px;height: 50px;width: 250px">
                                    <div>刘海波</div>
                                    <span style="width: 250px;height:21px;white-space:nowrap; word-break:keep-all; display: block;overflow:hidden;  text-overflow:ellipsis;">国际商业机器（中国）有限公司国际商业机器（中国）有限公司国际商业机器（中国）有限公司</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <el-dialog
                        title="分享朋友圈动态"
                        :visible.sync="dialogVisible"
                        width="30%"
                        :before-close="handleClose">
                    <div>
                        <div>
                            <img src="/img/logo_maimai.png" alt="" width="30px">
                        </div>
                        <div>
                            <span style="font-size: 20px">name</span>&nbsp<span style="color: deepskyblue">广州市优普科技有限公司java工程师</span>
                        </div>
                        <form action="#">
                            <input type="text" placeholder="说两句分享到脉脉动态..." style="width: 90%;border-radius:10px;height: 70px;margin-left: 2px">
                            <br>
                            <ul style="list-style:none;margin-top:2px;">
                                <li style="float:left;margin-left:2px;margin-top: 0px">
                                    <img src="/img/biaoqing.png" alt="" width="30px">
                                </li>
                                <li style="float: right;margin-right: 50px">
                                    <el-button type="primary" plain @click="dialogVisible = false">发布</el-button>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <span slot="footer" class="dialog-footer">

                    </span>
                </el-dialog>

            </el-main>
        </el-container>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data:{
            searchinput: '',
            dialogVisible: false,
            pingluntableData: [{
                content: '上海市普陀区金沙江路 1518 弄',
            }, {
                content: '上海市普陀区金沙江路 1517 弄',
            }]
        },
        created(){

        },
        methods:{
            searchChange(v){
                alert("发生改变"+v);
            },
            addmydynamic(){
              alert("点击成功");
            },
            getFileName(path){
                var pos1 = path.lastIndexOf('/');
                var pos2 = path.lastIndexOf('\\');
                var pos = Math.max(pos1, pos2)
                if( pos<0 )
                    return path;
                else
                    return path.substring(pos+1);
            },
            clickfile(){
                document.getElementById("upfile").click();
            },
            showfilename(){
                var filename = document.getElementById("upfile").value;
                var realName  =this.getFileName(filename);
                $("#up-file-content").text(realName);
            },
            pinglunbutton(){
                alert("评论成功");
            },
            startorclosepinglun(e){
               var parent= e.currentTarget.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
               var child = parent.children[4];
               if(child.style.display=="none"){
                   child.style.display="block"
               }else {
                   child.style.display="none";
               }
            },
            pinglunhandleDelete(e){
                console.log(e.currentTarget);
            },
            handleClose(done) {
                this.dialogVisible=false;
            }
        }
    })
</script>
</html>