<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link href="css/personCenter.css" type="text/css" rel="stylesheet" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <div>
        <el-container>
            <el-header class="header" height="65px">
                <ul style="list-style:none;margin-top:10px;">
                    <li style="float:left;margin-left:280px;">
                        <a href="javascript:void(0);"><img src="/img/logo_maimai.png" alt="" width="42px"></a>
                    </li>
                    <li style="float:left;margin-left:40px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">首页</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">实名动态</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">招聘管理</a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">聊天</a>
                    </li>
                    <li style="float:left;margin-left:350px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">肖茗夫</a>
                    </li>
                    <li style="float:left;margin-left:10px;margin-top:5px;">
                        <a href="javascript:void(0);" class="el-a-link">
                            <img src="/img/edit_person.png" alt="" width="30px">
                        </a>
                    </li>
                    <li style="float:left;margin-left:50px;margin-top:10px;">
                        <a href="javascript:void(0);" class="el-a-link">退出</a>
                    </li>
                </ul>
            </el-header>
            <el-main class="main">
                <div style="width:100%;height:100px;background-color:#ededeb;"></div>
                <!--基本信息-->
                <div class="el-info_content" style="height:300px;">
                    <div style="margin-left:20px;padding-top:15px;">
                        <span class="el-info-tag">基本信息</span>
                        <span style="float:left;margin-left:600px;">
                            <a href="javascript:void(0);">
                                <i class="el-icon-edit-outline" style="font-size:24px;"></i>
                            </a>
                        </span>
                    </div>
                    <div style="margin-top:60px;margin-left:20px;">
                        <label class="el-info-label">真实姓名:</label>
                        <span style="margin-left:40px;">肖茗夫</span>
                    </div>
                    <div style="margin-top:20px;margin-left:20px;">
                        <label class="el-info-label">您的性别:</label>
                        <span style="margin-left:40px;">男</span>
                    </div>
                    <div style="margin-top:20px;margin-left:20px;">
                        <label class="el-info-label">行业方向:</label>
                        <span style="margin-left:40px;">IT互联网 研发</span>
                    </div>
                    <div style="margin-top:20px;margin-left:20px;">
                        <label class="el-info-label">当前公司:</label>
                        <span style="margin-left:40px;">广州虎牙信息科技有限公司</span>
                    </div>
                    <div style="margin-top:20px;margin-left:20px;">
                        <label class="el-info-label">当前职位:</label>
                        <span style="margin-left:40px;">JAVA开发工程师</span>
                    </div>
                </div>
                <!--职业标签-->
                <div class="el-info_content" style="height:150px;margin-top:20px;">
                    <div style="margin-left:20px;padding-top:15px;">
                        <span class="el-info-tag">职业标签</span>
                        <span style="float:left;margin-left:600px;">
                            <a href="javascript:void(0);">
                                <i class="el-icon-edit-outline" style="font-size:24px;"></i>
                            </a>
                        </span>
                    </div>
                    <div style="margin-top:60px;margin-left:20px;">
                        <span><el-button type="primary" round>研发</el-button></span>
                        <span style="margin-left:20px;"><el-button type="primary" round>社交</el-button></span>
                    </div>
                </div>
                <!--求职信息-->
                <div class="el-info_content" style="height:180px;margin-top:20px;">
                    <div style="margin-left:20px;padding-top:15px;">
                        <span class="el-info-tag">求职信息</span>
                        <span style="float:left;margin-left:600px;">
                            <a href="javascript:void(0);">
                                <i class="el-icon-edit-outline" style="font-size:24px;"></i>
                            </a>
                        </span>
                    </div>
                    <div style="margin-top:60px;margin-left:20px;">
                        <label class="el-info-label">学历:</label>
                        <span style="margin-left:70px;">其他</span>
                    </div>
                    <div style="margin-top:20px;margin-left:20px;">
                        <label class="el-info-label">期望薪资:</label>
                        <span style="margin-left:40px;">未知</span>
                    </div>
                </div>
                <!--联系方式-->
                <div class="el-info_content" style="height:180px;margin-top:20px;">
                    <div style="margin-left:20px;padding-top:15px;">
                        <span class="el-info-tag">联系方式</span>
                        <span style="float:left;margin-left:600px;">
                            <a href="javascript:void(0);">
                                <i class="el-icon-edit-outline" style="font-size:24px;"></i>
                            </a>
                        </span>
                    </div>
                    <div style="margin-top:60px;margin-left:20px;">
                        <label class="el-info-label">工作地点:</label>
                        <span style="margin-left:40px;">北京,海淀区</span>
                    </div>
                    <div style="margin-top:20px;margin-left:20px;">
                        <label class="el-info-label">邮箱:</label>
                        <span style="margin-left:70px;">1753972608@qq.com</span>
                    </div>
                </div>
                <!--简历-->
                <div class="el-info_content" style="height:220px;margin-top:20px;">
                    <div style="margin-left:20px;padding-top:15px;">
                        <span class="el-info-tag">简历附件</span>
                    </div>
                </div>
            </el-main>
        </el-container>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data:{

        },
        created(){

        },
        methods:{

        }
    })
</script>
</html>